<ion-header translucent>
  <ion-toolbar color="tertiary">
    <ion-title>
      Pokedex App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen color="dark">
  <ion-searchbar placeholder="Buscar pokémon" color="medium"></ion-searchbar>

  <!--Bulbasaur-->
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="planta">001</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Bulbasaur</h2>
          <ion-badge color="planta">Grass</ion-badge>
          <ion-badge color="tertiary">Poison</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!--Charmander-->
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="danger">004</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Charmander</h2>
          <ion-badge color="danger">Fire</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!--Squirtle-->
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="primary">007</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Squirtle</h2>
          <ion-badge color="primary">Water</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/007.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!--Pikachu-->
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="warning">025</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Pikachu</h2>
          <ion-badge color="warning">Electric</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!--Alakazam-->
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="pink">065</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Alakazam</h2>
          <ion-badge color="pink">Psychic</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/065.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!--Lapras-->
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="primary">131</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Lapras</h2>
          <ion-badge color="primary">Water</ion-badge>
          <ion-badge color="medium">Ice</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/131.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!--Articuno-->
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="primary">144</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Articuno</h2>
          <ion-badge color="primary">Ice</ion-badge>
          <ion-badge color="flying">Flying</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/144.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!--Zapdos-->
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="warning">145</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Zapdos</h2>
          <ion-badge color="warning">Electric</ion-badge>
          <ion-badge color="flying">Flying</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/145.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!--Moltres-->
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="danger">146</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Moltres</h2>
          <ion-badge color="danger">Fire</ion-badge>
          <ion-badge color="flying">Flying</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/146.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!--Mewtwo-->
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="pink">150</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Mewtwo</h2>
          <ion-badge color="pink">Psychic</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/150.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

</ion-content>